/*ENTRANCE PHOTO*/
.enter {
    position: relative;
    top: 0%;
}
.enter img{
    width: 100%;
    height: 100%;
}

.ent{
    position: absolute;
    top: 50%;
    left:70%;
    transform:translate(-50%,-50%);
}

.ent h3{
    font-size: 30px;
}

.ent h1{
    font-size: 80px;
    font-weight: 900;
}

@media screen and (max-width:767px)
{
    .enter img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    
    .ent{
        position: absolute;
        top: 50%;
        left:60%;
        transform:translate(-50%,-50%);
    }
    
    .ent h3{
        font-size: 30px;
    }
    
    .ent h1{
        font-size: 40px;
        font-weight: 900;
    }   
}
/*ENTRANCE PHOTO end*/


/*Address*/
.vnb{
    margin-top: 20px;
    background-color: black;
    color: white;
}
/*Address end*/

.form-group{
    margin-left: 20%;
    margin-right: 20%;
}

.form_form{
    margin-top:30px ;
}